@import '@arcgis/core/assets/esri/themes/light/main.css';


:root {
  --gray: #bebebe;
  --very_gray: #f5f3f3;
  --red: #580000;
  --green: #023E00;
  --blue: #001C6A;
  --highlight: #e0ca3c;
  --dark_gray: #4c4c4c;
  --medium_gray: #727272;
}

html,
body,
#app {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: small;
  font-weight: bold;
  color: var(--blue)
}

#header {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.headerPart {
  display: flex;
  align-items: end;
}

#headerLeft {
  justify-content: start;
}

.button {
  padding: 10px;
  cursor: pointer;
}

#tools,
#layers {
  color: var(--red)
}

#workspaces,
#dimensions {
  color: var(--green)
}

#title {
  font-size: x-large;
}

.button:hover {
  opacity: 0.7;
}

#map {
  width: 100%;
  height: 73%;
  display: flex;
}

#toolsContainer,
#layersContainer {
  flex-grow: 0.0001;
}

.panel {
  transition: all 0.5s linear !important;
}

.showPanel {
  flex-grow: 1 !important;
}

#viewDiv {
  flex-grow: 3;
}

#footer {
  width: 100%;
  height: 20%;
}

.esri-view-surface::after {
  outline: none !important;
}